* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: rgb(182, 218, 241);
  --tertiary: rgb(53, 77, 62);
  --quaternary: rgb(146, 189, 245);
  --dark: rgb(73, 72, 72);
}

body {
  height: 100vh;
  background-color: var(--secondary);
}

nav {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center vertically */
  background-color: var(--tertiary);
  color: var(--quaternary) !important;
}

nav > * {
  margin-right: 1em; /* Add margin to create spacing between items */
}

nav > :last-child {
  margin-right: 0; /* Remove margin from the last item */
}

h1 {
  font-family: 'Source Serif Pro', serif;
  text-align: center; /* Center the title */
  background-color: var(--tertiary);
  color: var(--quaternary) !important;
  animation: glow 2s ease-in-out infinite; /* Apply the glow animation */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px var(--quaternary), 0 0 10px var(--quaternary); /* Initial glow effect */
  }
  50% {
    text-shadow: 0 0 20px var(--quaternary), 0 0 30px var(--quaternary); /* Intermediate glow effect */
  }
  100% {
    text-shadow: 0 0 5px var(--quaternary), 0 0 10px var(--quaternary); /* Final glow effect */
  }
}

.card {
  background-color: var(--secondary);
}

.card-header {
  font-family: 'Source Serif Pro', serif;
  background-color: var(--tertiary);
}

.card p {
  font-style: normal;
  color: var(--dark);
}

.comments {
  background-color: var(--dark);
}

a,
h4,
#comment-header,
#comment-single-post {
  color: var(--primary);
}

a:hover {
  color: var(--quaternary);
}

small {
  font-family: 'Source Serif Pro', serif;
  color: var(--quaternary);
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  margin: 0; /* Remove the margin on the buttons */
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--dark);
}

.btn:not(:last-child) {
  margin-right: 1em; /* Adjust the margin for the buttons to create spacing between them */
}

.btn:hover {
  color: var(--primary);
  background-color: var(--quaternary);
}

#switchPage {
  color: var(--dark);
  margin-bottom: 20px;
}

.form-label {
  margin-top: 20px;
}
